<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.athome.dao.BlogDao">

  <insert id="save" parameterType="com.athome.entity.Blog">
    insert into blog(id,name,id_no,book_id,sex) values(null,#{name},#{idNo},#{bookId},#{sex})
  </insert>

  <update id="update" parameterType="com.athome.entity.Blog">
    update blog set name=#{name},id_no=#{idNo},book_id=#{bookId},sex=#{sex} where id=#{id}
  </update>

  <select id="getBlog" resultType="com.athome.entity.Blog">
        select id,name,id_no,book_id,sex from Blog where id = #{id}
    </select>

  <select id="list" resultType="com.athome.entity.Blog">
        select id,name,id_no,book_id,sex from blog
    </select>


</mapper>